@model EmployeeLeaveAllocationVM
@{
    ViewData["Title"] = "Leave Allocation Details";
    var isAdmin = User.IsInRole(UserRoles.administrator);
    var message = isAdmin ? "There is No allocations" : "You have no allocations contact the admin";
    var missingMesssage = Model.isCompletedAllocation ? null : "User is missing Some leave allocations";
}

<h1>View allocation for @Model.FirstName @Model.LastName</h1>
@if (isAdmin)
{
    <a asp-action="Index" class="btn btn-outline-primary">Back to List</a>
}
<div>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.FirstName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.FirstName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.LastName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.LastName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Email)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Email)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DateOfBirth)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DateOfBirth)
        </dd>

    </dl>

</div>
<hr />
@if (isAdmin && !Model.isCompletedAllocation)
{
    <div class="alert alert-warning" role="alert">
        <h2>
            @missingMesssage
        </h2>
    </div>
    <form asp-action="AllocateLeave" class="mb-3">
        <input type="hidden" asp-for="@Model.Id" />
        <input type="submit" value="Allocate Missing Leaves" class="btn btn-outline-warning" />
    </form>
}

@if (@Model.LeaveAllocations.Any())
{
    <div class="card">
        <div class="card-header">
            <h4>Leave Allocations for @Model.LeaveAllocations[0].Period.Name </h4>
        </div>
        <ul class="list-group list-group-flush">

            <li class="list-group-item">
                <div class="row">
                    <div class="col fw-bolder">Leave Name</div>
                    <div class="col fw-bolder">Original Allocation</div>
                    <div class="col fw-bolder">Current Allocation</div>
                    <div class="col fw-bolder">Action</div>

                </div>

            </li>

            @foreach (var allocation in Model.LeaveAllocations)
            {
                <li class="list-group-item">
                    <div class="row">
                        <div class="col">@allocation?.leaveType?.Name</div>
                        <div class="col">
                            <span class="badge rounded-pill bg-primary">@allocation.NumberOfDays</span>
                        </div>
                        <div class="col">
                            <span class="badge rounded-pill bg-warning">@allocation.NumberOfDays</span>
                        </div>

                        <div class="col">
                            @if (isAdmin)
                            {
                                <a asp-action="EditAllocation" asp-controller="LeaveAllocation" asp-route-Id="@allocation.Id"
                                   class="btn btn-outline-warning">
                                    Edit
                                </a>
                            }
                            <a asp-controller="LeaveRequest" asp-action="Create" class="btn btn-outline-success">
                                Request a Leave
                            </a>
                        </div>

                    </div>

                </li>
            }
        </ul>
    </div>
}
else
{
    <div class="alert alert-warning" role="alert">
        <h2>
            @message
        </h2>
    </div>
}

